<!-- Add the ngClass property to the button element.
When the button is clicked, component member property evaluates to true, the color
should update to have a green background color.  

When photo is liked, turns button green and calls buttonClicked() -->

<div>
    <button (click) = 
    "buttonClicked()" 
    [ngClass]="{'is-Liked' : liked}">Like!</button>
</div>

<span id = "info">
        <p>Number of likes: {{count}}</p>
</span>

<!-- 
   Add a span element to the
   my-button component that renders “Image is liked == True”, replacing true with a
   template string literal bound to the member property. 
   when the like button is clicked -->

<span id ="info">
    <p>{{result}}</p>
</span>

<!-- Press button to display msgs in console using message service - not needed
<div>
    <button (click) = 
    "generateMessages()" 
    >Generate messages in console</button>
</div> -->


